{% extends 'myNewapp/layout.html'%}
{% block title %}
    ProgrammingCourses
{% endblock %}}
{% block content1 %}
<h4>Available programming courses:</h4>
<ul class="list-group list-group-flush">
    <li class="list-group-item">Python</li>
    <li class="list-group-item">Html</li>
    <li class="list-group-item">Css</li>
    <li class="list-group-item">Java</li>
    <li class="list-group-item">Javascript</li>
  </ul>
{% endblock %}}
{% block content2 %}
<h3>Information about us:</h3>
<p>This first course in Learning To Program will get you started with the fundamentals of programming, like looping and working with source code files.</p>

<button class="btn btn-primary" style="margin-left: 30px">Details</button>
{% endblock %}}